header{
    background-color: rgb(16, 130, 84);
    padding: 10px;
}
.my-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.recipee{
    grid-area: 1 /span 4 1 /span 4;
    
}
img{
height: 150px ;
}
footer{
    font-size: larger;
    background-color: blueviolet;
}